{% extends 'base.html' %}


{% block head %}
  <title>Home page</title>
{% endblock %}
{% block body %}
  <center><h1>What would you like to search/read about?</h1></center>
  <br />
  <center><button style="background-color:DimGrey
  ;color:#FFFAF0
  ;border-radius:4px" onclick="location.href = 'coronaVirus';">
  Corona Virus
  </button>
  &nbsp;
  &nbsp;
  <button style="background-color:#00FA9A
  ;color:black
  ;border-radius:4px">
  Programming
  </button>
  &nbsp;
  &nbsp;
  <button style="background-color:Teal
  ;color:white
  ;border-radius:4px">
  Maths
  </button></center>
{% endblock %}
